* {
    margin: 0px;
    padding: 0px;
}
body {
    text-align: center;
}
#main {
    width: 500px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 3px;
}
#main span {
    font: normal 12pt sans-serif;
    color: black;
    margin: 5px;
    cursor: hand;
    padding: 3px;
}
#table {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
table {
    margin: 0 auto;
}
table td.whitesmoke {
    background-color: whitesmoke;
    padding: 3px 6px;
}
table td.lightgrey {
    background-color: lightgrey;
    padding: 3px 6px;
}
table td.menu {
    background-color: darkslategrey;
    color: white;
    font-weight: bold;
    padding: 3px 6px;
}