div.row {
    margin: 5px auto;
}

.well .input-group-addon {
    width: 150px;
}
.container {
    height: 800px;
    background: url(/images/taxi.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}